@if(isLoading){
<app-spinner></app-spinner>
}
@else{
<div class="body">

    <div class="form-container">
        <div class="cross">&#10013;</div>
        <div class="moses-title">MOSES</div>
        <div class="church-name">{{this.profileData.churchName }}</div>
        <form>
            <div class="form-field">
                <label for="name">Name</label>
                <input type="text" id="name" [(ngModel)]="name" name="name" required />
            </div>
            <div class="form-field">
                <label for="type">Select Type Of Kurbana</label>

                <select id="type" name="type" [(ngModel)]="selectedType" required>
                    <option value="">-- Please choose a type --</option>
                    @for (product of products; track product.id) {
                    <option [value]="product.id">{{ product.product_name }} ₹{{product.price}}</option>
                    }
                </select>
            </div>
            <button (click)="addItem()" type="submit">Add</button>
            @if(Myproducts.length > 0){

            <button (click)="addItem()" class="pay" type="submit">Pay {{totalAmount}}</button>

            }

        </form>
    </div>
    <!-- Card below the form -->
     @if(Myproducts.length > 0){
    @for (product of Myproducts; track product.id) {

    <div class="card" id="userCard">
        <div class="card-content">
            <div class="info">
                <div class="name">{{ product.name }}</div>
                <div class="role">{{ product.product_name }}</div>
            </div>

            @if (editingProductId !== product.id ) {
            <p class="price-line">
                ₹{{ product.new_price || product.price }}
                <span>
                    <img (click)="editamount(product.id)" class="edit-icon" src="assets/edit.png" alt="Edit" />
                </span>
            </p>
            }

            @if (editingProductId === product.id ) {
            <div class="edit-box">
                <input type="number" id="amount-input" [(ngModel)]="contributionAmount" [min]="product.new_price"
                    placeholder="Enter Amount" />

                <button (click)="savenewamount(product)" class="save-btn">✓</button>
            </div>
            }
        </div>

        <button class="delete-btn" (click)="ondeleteClick(product)">✖</button>
    </div>
    }
}

</div>

}