@if(loading){
<app-spinner></app-spinner>
}
<section class="section">
    <div class="container">
        <!-- Date filter form -->
        <form class="box" id="date-filter-form" autocomplete="off">
            <h2 class="title is-5">Filter by date</h2>

            <div class="columns is-variable is-2">
                <div class="column">
                    <div class="field">
                        <label class="label">From Date</label>
                        <div class="control">
                            <input [(ngModel)]="fromDate" class="input" type="date" id="fromDate" name="fromDate">
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <label class="label">To Date</label>
                        <div class="control">
                            <input [(ngModel)]="toDate" class="input" type="date" id="toDate" name="toDate">
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <label class="label">Product Type</label>
                        <!-- a info button -->
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select (change)="onChange($event)" [(ngModel)]="selectedType" id="eventType"
                                    name="eventType">
                                    <option value="0"> View All</option>
                                    <option value="10001">Regular Items</option>
                                    @for(prod of products; track prod.product_id){
                                    @if(prod.isRegular==false){
                                    <option value={{prod.product_id}}>{{prod.product_name}}</option>
                                    }
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                @if(showAllButton){
                <div class="column is-narrow is-flex is-align-items-flex-end">
                    <div class="field">
                        <div class="control">
                            <button (click)="showAllProducts()" class="button is-primary" type="button">Show
                                All</button>
                        </div>
                    </div>
                </div>
                }
                @if(!showAllButton){
                <div class="column is-narrow is-flex is-align-items-flex-end">
                    <div class="field">
                        <div class="control">
                            <button (click)="showSpecific()" class="button is-primary" type="submit">Fetch</button>
                        </div>
                    </div>
                </div>
                }
            </div>
        </form>


        @if (orders.length > 0) {
        <footer class="card-footer mt-4">
            <div class="card-footer-item has-text-left" style="justify-content: flex-end;">
                <button (click)="exportToPDF()" class="button is-primary is-light" title="Export to PDF">
                    <span class="icon">
                        <i class="fas fa-file-pdf"></i>
                    </span>
                    <span>Export to PDF</span>
                </button>
            </div>
        </footer>

        <div id="cards-container" class="card mt-4">
            <div class="card-content">
                <div class="content">
                    <section class="section">
                        @for (product of products; track product.product_id) {
                        @if (
                        selectedType == product.product_id ||
                        selectedType == 0 ||
                        (selectedType == 10001 && product.isRegular)
                        ) {
                        <h2 class="title is-4 has-text-info">{{ product.product_name }}</h2>
                        }

                        @for (order of orders; track order.id) {
                        <div class="container">
                            @if (product.product_id == order.type) {
                            <ul>
                                <li>{{ order.customer_name }}</li>
                            </ul>
                            }
                        </div>
                        }
                        }
                    </section>
                </div>
            </div>
        </div>
        }

    </div>


</section>